<% if @ingredient.errors.any? %>
  <div id="error_describe" class="row">
    <% @ingredient.errors.messages[errors_for.to_sym].each do |message| %>
      <p class="alert "><%= message %></p>
    <% end %>
  </div>
<% end %>