<div class="list sortable">
  <% @ingredients.each do |ingredient| %>
    <div class="row ingredient" data-ingredient-id=<%= "#{ingredient.id}" %>>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h4>
          <span><i class="fa fa-sort"></i></span>
          <%= link_to ingredient.step, edit_ingredient_path(ingredient) %>
        </h4>
      </div>

      <div class="col-md-10 col-sm-10 col-xs-8">
        <h4><%= ingredient.name %></h4>
      </div>
    </div>
  <% end %>
</div>