<table class="sortable">
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr class="ingredient" data-ingredient-id=<%= "#{ingredient.id}" %>>
        <td class="col-md-4">
          <h4>
            <span><i></i></span>
            <%= link_to ingredient.step, edit_ingredient_path(ingredient) %>
          </h4>
        </td>
        <td class="col-md-8">
          <h4><%= ingredient.name %></h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</ul>