<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Brand Name -->
      <a href="#" class="navbar-brand">Core</a>

      <!-- Button for toggling when collapse -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#core_nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- navigation links -->
    <div class="collapse navbar-collapse" id="core_nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= products_path %>">Products</a></li>
        <li><a href="<%= ingredients_path %>">Ingredients</a></li>
      </ul>
    </div>
  </div>
</nav>