<h1>Ingredient</h1>

<%= form_for @ingredient do |f| %>
    <%= render partial: "form_fields", locals: {f: f} %>

    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "Save ingredient", class: "btn btn-default" %>
        <%= link_to "Cancel", ingredients_path %>
      </div>
    </div>
<% end %>