<h1 class="page_name">Ingredients</h1>

<p>These ingredients will define your workflow.</p>

<%= form_for @ingredient do |f| %>
    <%= render partial: 'form_fields', locals: {f: f} %>

    <div class="row">
      <div class="col-sm-9 col-xs-12">
        <%= f.submit "Create ingredient", class: "btn btn-primary" %>
        <%= link_to "Cancel", ingredients_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>