/* forms */

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

form .row {
  margin-bottom: 10px;
}

.alert {
  color: $state-danger-text;
  padding-left: 0;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
  .alert {
    margin-left: -15px;
  }
}